In [7]:
import pandas as pd
import os

file_path = os.path.join("..", "data", "guess_tha_song.songs.features.json")

df = pd.read_json(file_path)

df

,_id,artists,name,acousticness,energy,liveness,speechiness,danceability,instrumentalness,loudness,valence
0,{'$oid': '682f83cd6890e60ad16d7b12'},[{'name': 'Journey'}],Don't Stop Believin' (2024 Remaster),26,80,36,4,49,0,88,46
1,{'$oid': '682f83dc6890e60ad16d7b13'},[{'name': 'TOTO'}],Africa,26,37,5,3,67,0,70,73
2,{'$oid': '682f83e96890e60ad16d7b14'},[{'name': 'Whitney Houston'}],I Wanna Dance with Somebody (Who Loves Me),36,87,79,4,54,0,89,75
3,{'$oid': '682f844d8ef07feef39da677'},"[{'name': 'Queen'}, {'name': 'David Bowie'}]",Under Pressure - Remastered 2011,2,93,18,16,46,0,94,57
4,{'$oid': '682f84598ef07feef39da678'},[{'name': 'The Outfield'}],Your Love,12,65,7,6,58,0,79,62
...,...,...,...,...,...,...,...,...,...,...,...
8990,{'$oid': '683975c8546cc3557fa0583f'},[{'name': 'Brantley Gilbert'}],Bottoms Up,11,86,13,4,47,0,90,55
8991,{'$oid': '683975dd546cc3557fa05840'},[{'name': 'Hilltop Hoods'}],Cosby Sweater,63,81,9,4,79,0,87,80
8992,{'$oid': '683975f3546cc3557fa05841'},[{'name': 'Miley Cyrus'}],See You Again,2,91,11,18,69,0,92,80
8993,{'$oid': '68397609546cc3557fa05842'},[{'name': 'S Club'}],Don't Stop Movin',3,67,21,3,82,0,90,91
8994,{'$oid': '6839761f546cc3557fa05843'},[{'name': 'Fedde Le Grand'}],Put Your Hands Up For Detroit - Radio Edit,2,91,9,22,82,17,90,48

In [4]:
df.describe()

,acousticness,energy,liveness,speechiness,danceability,instrumentalness,loudness,valence
count,8995.000000,8995.000000,8995.000000,8995.000000,8995.000000,8995.000000,8995.000000,8995.000000
mean,23.290495,65.371984,18.176320,8.154753,61.191996,6.913285,87.293385,53.732407
std,28.525525,21.820658,14.374198,8.279331,16.151335,21.310825,7.329265,23.964011
min,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,27.000000,0.000000
25%,2.000000,53.000000,9.000000,4.000000,51.000000,0.000000,85.000000,35.000000
50%,10.000000,69.000000,12.000000,5.000000,62.000000,0.000000,89.000000,54.000000
75%,35.000000,82.000000,23.000000,8.000000,73.000000,0.000000,92.000000,73.000000
max,100.000000,100.000000,98.000000,96.000000,98.000000,100.000000,100.000000,99.000000

In [ ]:
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cdist

features = ["acousticness", "energy", "liveness", "speechiness", "danceability", "instrumentalness", "loudness", "valence"]
song = ["name", "artists"]

Features =  df[features].to_numpy()


df["distances"] = cdist(df[df["name"] == "Uptown Girl"][features], Features, metric="euclidean")[0]


df.sort_values(by="distances", inplace=True)

df

,_id,artists,name,acousticness,energy,liveness,speechiness,danceability,instrumentalness,loudness,valence,distances
19,{'$oid': '682f851c8ef07feef39da687'},[{'name': 'Billy Joel'}],Uptown Girl,7,94,60,5,70,0,95,79,0.000000
8683,{'$oid': '68395a79546cc3557fa0570c'},[{'name': 'Brooks & Dunn'}],Play Something Country,8,94,57,3,69,0,95,77,4.358899
7366,{'$oid': '6836a3c89c347ff2c54f3732'},[{'name': 'Billy Joel'}],Uptown Girl,7,94,65,4,70,0,95,83,6.480741
123,{'$oid': '682f8b9093c3c02c78894dbe'},[{'name': 'Patty Smyth'}],The Warrior,7,90,59,4,61,0,92,80,10.440307
8673,{'$oid': '6839598a1b9b2163d9e0248d'},"[{'name': 'Lilly Wood and The Prick'}, {'name'...",Prayer in C - Robin Schulz Radio Edit,2,89,62,3,76,0,91,78,10.535654
...,...,...,...,...,...,...,...,...,...,...,...,...
2278,{'$oid': '683178ca5bba7ef49de46e2e'},[{'name': 'JosÃ© Salinas'}],Selene,99,1,10,4,21,93,47,6,195.696193
2339,{'$oid': '68317bed5bba7ef49de46e6e'},"[{'name': 'Robert Schumann'}, {'name': 'Seattl...","Etudes symphoniques (Symphonic Etudes), Op. 13...",98,4,8,4,17,95,51,5,195.785597
6483,{'$oid': '683641cae8368f1f559cc746'},[{'name': 'John Williams'}],Opening Titles,92,3,14,4,10,100,53,4,196.499364
6538,{'$oid': '68364bf8e8368f1f559cc77d'},[{'name': 'John Williams'}],Hatching Baby Raptor,98,1,9,4,6,94,45,3,201.841522
3830,{'$oid': '6831e8cafb5ca29e83a34bc4'},"[{'name': 'Robin Schulz'}, {'name': 'OSWALD'}]",eternal life,98,0,11,5,12,97,27,3,206.618005